<!-- chat/templates/chat/room.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>
	    <link rel="stylesheet" href="{% static "Chat.css" %}">

</head>
<body>
    <td>{{ infor.updatetime|date:"Y-m-d H:i:s" }}</td>
    <div class="container-fluid h-100">
			<div class="row justify-content-center h-100">
				<div class="col-md-8 col-xl-6 chat">
					<div class="card">
						<div class="card-header msg_head">
							<div class="d-flex bd-highlight">
								<div class="chat_info">
									<span>{{ room_name|json_script:"room-name" }}</span>
                                    <span>{{ room_name }}</span>
								</div>
							</div>
						</div>
						<div class="card-body msg_card_body" id="chat-log">

						</div>
						<div class="card-footer">
							<div class="input-group">
								<textarea id="chat-message-input" class="form-control type_msg" placeholder="Type your message..."></textarea>
								<div class="input-group-append">
                                    <span class="input-group-text send_btn"><i class="fas fa-location-arrow" id="chat-message-submit"></i></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            var row = document.createElement("div");

            row.setAttribute("class","d-flex justify-content-start mb-4");

            var row_container = document.createElement("div");
            row_container.setAttribute("class","msg_cotainer");
            row_container.append(data.message);
            row.append(row_container);
            document.querySelector('#chat-log').append(data.timestamp);
            document.querySelector('#chat-log').append(row);
            //document.querySelector('#chat-log').value += (data.timestamp +': '+data.message + '\n');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };
        chatSocket.onopen= function(e){
            // alert('window.onload')
            chatSocket.send(JSON.stringify({
                'message': '',
                'command':'fetch_history'
            }));
        };
        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            // alert(window.onload)
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message,
                'command':'new_message'
            }));
            messageInputDom.value = '';
        };
    </script>
</body>
</html>